body {
 margin: 0px auto;
 padding: 0px;
}
section {
    width: 100%;
    height: auto;
    margin: 0px;
    overflow: hidden;
    
}
/*div{
    display: inline;
}
div#central {
   width: 100%;
   height: auto;
}*/
img {
    margin:10px 0px;
    padding:0px;
    width:400px;
    height:auto;
    border: 5px solid pink;
}
p,h1 {
    text-align: center;
}
div {
    width: 60%;
    height: auto;
    margin:20%;
    border: 5px solid cyan;
}